
    <footer>
        <div class="copyright">
            surf the wavve well | &copy 2018 digital frank
        </div>        
    </footer>



</br>
</br>
</br>
</br>

<% @users.each do |user| %>
    <h2><%=  user.first_name  %></h2>
    <h2><%=  user.last_name  %></h2>
    <h2><%=  user.email  %></h2>
    </br>
    </br>
<% end %>


</br>
</br>
</br>
</br>


<% @advertising_users.each do |user| %>
    <h2><%=  user.first_name  %></h2>
    <h2><%=  user.last_name  %></h2>
    <h2><%=  user.email  %></h2>
    </br>
    </br>
<% end %>
    
    
    
    
    
    