
<h1 class="post_title"> <%=  @post.title  %> </h1>
<h2 class="post_subtitle"> <%=  @post.subtitle  %> </h2>
<div class="post_img">
    <img src=" <%=  @post.img_url  %> " alt="" width="100%"> 
</div>
<p class="post_text_content"> <%=  @post.text_content  %> </p>


</br>
</br>
</br>
</br>


<!-- <a href="/post/<%= params[:id] %>/edit">
    <button class="create_post_button">edit this post</button>
</a> -->

<form id="edit_post_form" action="/post/<%= @post.id %>" method="POST">
    <input name="_method" type="hidden" value="delete" />
    <button class="create_post_button" type="submit">delete this post</button>
</form>